<%
  var strings = {
    black: "Black",
    white: "White",
    hispanic: "Hispanic",
    asian: "Asian American",
    multi: "Multiracial",
    none: "No majority"
  };
  var keys = "black white hispanic asian multi".split(" ");
%>
<div class="details-block">
<%
if (data.selectedSchool) {
  var school = data.selectedSchool;
  var cats = { ES: "Elementary", MS: "Middle", HS: "High" };
%>
<hr>
<div class="school-details">
  <h3><%= school.name %></h3>
  <div class="categories">
    <%= school.secondary %> <%= cats[school.category] %> school
  </div>
  <% if (school.enrollment) { %>
    <%
      var { trends } = school.enrollment;
      var years = trends.map(t => t.year);
      var values = trends.map(t => t.total);
      var earliest = Math.min(...years);
      var latest = Math.max(...years);
      var span = latest - earliest;
      var max = Math.max(...values) + 10;
      var d = trends.map(v => v.year + " " + (max - v.total)).join(" L");
      var lineD = `M${earliest} ${max - values[0]} L` + d;
      var areaD = lineD + ` L${latest} ${max} L${earliest} ${max} Z`;
    %>
    <div class="enrollment">
    <h4>Enrollment, <%= earliest%>-<%= latest %></h4>
    <div class="sparkline-container">
      <div class="early-label">
        <%= values[0] %>
      </div>
      <svg role="img" aria-hidden="true" preserveAspectRatio="none" viewBox="<%= earliest %> 0 <%= span %> <%= max %>">
        <path class="area" d="<%= areaD %>" />
        <path class="line" d="<%= lineD %>" />
      </svg>
      <div class="late-label">
        <%= values.at(-1) %>
      </div>
    </div>
    <% if (school.enrollment.percents) { %>
    <h4>2023 Student demographics</h4>
    <ul class="key">
      <% for (var d of keys) { %>
      <li> <i class="block <%= d %>"></i> <%= strings[d] %>
      <% } %>
    </ul>
    <div class="demo-bar-container">
      <% for (var d of keys) { %>
      <div class="bar <%= d %>" style="width: <%= school.enrollment.percents[d] * 100 %>%">
        <div class="label"><%= strings[d] %>: <%= (school.enrollment.percents[d] * 100).toFixed(1) %>%</div>
      </div>
      <% } %>
    </div>
    <% } else { %>
    School does not have demographic data for 2023.
    <% } %>
  <% } %>
</div>
<%
} 
if (data.district) {
%>
  <hr>
  <div class="district-details">
    <h3>District <%= data.district %></h3>
    <%
    if (data.demographics) {
      var demo = data.demographics[data.district];
    %>
    <ul class="key">
      <% for (var d of keys) { %>
      <li> <i class="block <%= d %>"></i> <%= strings[d] %>
      <% } %>
    </ul>

    <h4>Population demographics</h4>
    <div class="demo-bar-container">
      <% for (var d of keys) { %>
      <div class="bar <%= d %>" style="width: <%= demo.population[d] * 100 %>%">
        <div class="label"><%= strings[d] %>: <%= (demo.population[d] * 100).toFixed(1) %>%</div>
      </div>
      <% } %>
    </div>

    <h4>Enrollment demographics</h4>
    <div class="demo-bar-container">
      <% for (var d of keys) { %>
      <div class="bar <%= d %>" style="width: <%= demo.enrollment[d] * 100 %>%">
        <div class="label"><%= strings[d] %>: <%= (demo.enrollment[d] * 100).toFixed(1) %>%</div>
      </div>
      <% } %>
    </div>


    <%
    }
    %>
    <ul>
      <% 
        if (data.demographics) {
        var demo = data.demographics[data.district];
      %>
      <li> Majority racial demographic: <%= strings[demo.population.majority] %>
      <li> Majority enrollment demographic: <%= strings[demo.enrollment.majority] %>
      <% } %>
    </ul>
  </div>
<%
}
%>
</div>