@import "base";
@import (inline) "npm://leaflet/dist/leaflet.css";

@import "details";

:root {
  --seatColor: @yellow;
  --demo-black: @peach;
  --demo-hispanic: @teal;
  --demo-white: @purple;
  --demo-asian: @red;
  --demo-multi: @yellow;
  --school-es: @teal;
  --school-ms: @peach;
  --school-hs: @purple;
}

header, footer {
  z-index: 999;
}

// map styles
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

  .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    [hidden], .hidden {
      display: none !important;
    }

    &[data-interactive="false"] {
      pointer-events: none;

      .leaflet-interactive {
        pointer-events: none !important;
      }
    }

    path.leaflet-interactive {
      transition-property: fill, stroke;
      transition-duration: .4s;
    }
  }
}

// hero topper
.hero {
  position: relative;
  min-height: 100vh;
  background: black;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media @mobile {
    display: block;
  }

  .splash {
    background-image: url(./assets/school_collage.jpg);
    background-position: center;
    background-size: cover;

    @media @mobile {
      min-height: 50vh;
    }
  }

  .titles {
    text-align: center;
    padding: 40px;
    color: white;
  }

  .scroll-bug {

    @keyframes bug-bob {
      from { transform: translateY(0); }
      to { transform: translateY(20px); }
    }

    margin: 40px 0;
    animation-name: bug-bob;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
    font-family: @sans;
    font-size: 14px;
    text-transform: uppercase;

    svg {
      width: 32px;
      height: 24px;
      display: block;
      margin: 8px auto;

      path {
        stroke: white;
      }
    }
  }
}

// map graphics in pure CSS
.school-marker {
  background: white;
  border-radius: 100%;
  box-shadow: 4px 4px 4px fade(black, 20%);
  border: 1px solid black;
  transition-property: background, border-color;
  transition-duration: .4s;

  [data-school-mode="type"] & {
    &.ES { background: @teal; }
    &.MS { background: @peach; }
    &.HS { background: @purple; }
  }

  [data-school-mode="designations"] & {
    background: white;
    opacity: .5;

    &.Exemplary {
      background: @green;
      border-color: darken(@green, 40%);
      opacity: 1;
    }

    // &.Commendable {
    //   background: @teal;
    //   opacity: .7;
    // }

    // &.Targeted {
    //   background: @yellow;
    //   opacity: .7;
    // }

    &.Intensive {
      background: @red;
      border-color: darken(@red, 40%);
      opacity: 1;
    }
  }
}

// text blocks
.scroll-block {
  margin: 20px auto 80vh;
  width: 80%;
  max-width: 600px;
  position: relative;
  z-index: 999;
  padding: 20px;
  background: fade(black, 80%);
  box-shadow: 16px 16px 32px fade(black, 30%);
  color: white;

  .hero + & {
    margin-top: 60vh;
  }

  @media @desktop {
    margin-left: 15vw;
    max-width: 400px;
  }

  a {
    color: @light-teal;
  }
}

// filter-block UI
#filters {
  font-family: @sans;

  h2 {
    margin: 0;
  }

  .chatter {
    margin: 8px 0;
  }

  select {
    max-width: 100%;
  }

  state-binding {
    label:has(input) {
      display: block;
    }

    h4 {
      margin: 0;
    }
  }

  .pillbox {
    display: flex;
    margin-bottom: 8px;

    input {
      accent-color: var(--check-color);
      @supports selector(label:has(input)) {
        position: absolute;
        left: -1000px;
      }
    }

    label {
      flex: 1;
      padding: 4px;
      text-align: center;
      border: 1px solid white;
      cursor: pointer;
      --check-color: @yellow;
      --check-glyph: black;

      &:first-child {
        border-radius: 8px 0 0 8px;
      }

      &:last-child {
        border-radius: 0 8px 8px 0;
      }

      &:has(input:checked) {
        background: var(--check-color);
        color: var(--check-glyph);
      }

      &:has(input[value="ES"]) { --check-color: @teal; --check-glyph: white; }
      &:has(input[value="MS"]) { --check-color: @peach; --check-glyph: white; }
      &:has(input[value="HS"]) { --check-color: @purple; --check-glyph: white; }

      &:has(input:not(:checked)) {
        background: transparent;
      }
    }
  }

  .district-select {
    display: flex;
    margin-top: 8px;
    align-items: center;
    gap: 8px;
  }
}