@import "base";
@import (inline) "npm://leaflet/dist/leaflet.css";

header, footer {
  z-index: 999;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

  .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .school-marker {
      background: white;
      border-radius: 100%;
      box-shadow: 4px 4px 4px fade(black, 20%);
      border: 1px solid black;

      &.ES { background: @teal; }
      &.MS { background: @yellow; }
      &.HS { background: @purple; }
    }
  }
}

.scroll-block {
  margin: auto;
  width: 80%;
  max-width: 600px;
  margin-bottom: 60vh;
  padding: 20px;
  background: black;
  box-shadow: 20px 20px 4px 4px fade(black, 30%);
  position: relative;
  z-index: 999;
  color: white;

  input[value="ES"] { accent-color: @teal; }
  input[value="MS"] { accent-color: @yellow; }
  input[value="HS"] { accent-color: @purple; }
}