<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json.project) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <%= t.include("partials/_header.html") %>

    
    <div class="backdrop">
      <div class="map"></div>
    </div>
    <main>

      <% for (var block of archieml.story.scrolling) { %>
      <div class="scroll-block" id="<%= block.slug %>">
        <%= t.renderMarkdown(block.text) %>
        <% if (block.includeKey) { %>
        <div class="detail-block">
          <h4>Majority demographic:</h4>
          <ul class="key">
            <% for (var [c, label] of Object.entries({ black: "Black", hispanic: "Hispanic", white: "White" })) { %>
            <li> <i class="block <%= c %>"></i> <%= label %>
            <% } %>
          </ul>
        </div>
        <% } %>
      </div>
      <% } %>

      <div class="scroll-block" id="filters">
        <h2>Explore for yourself</h2>
        <state-binding>
          <h4>Filter by school type:</h4>
          <div class="school-types">
            <% var categories = Object.entries({
              ES: "Elementary",
              MS: "Middle School",
              HS: "High School"
            });%>
            <% for (var [v, l] of categories) { %>
            <label>
              <input type="checkbox" checked value="<%= v %>">
              <%= l %>
            </label>
            <% } %>
          </div>
          <div class="school-types">
            <% var subcats = Object.entries({
              "all": "All",
              "alternative": "Alt",
              "magnet": "Magnet",
              "charter": "Charter"
            }); %>
            <% for (var [v, l] of subcats) { %>
            <label>
              <input type="radio" name="type" value="<%= v %>" <% !v ? "checked=true" : "" %>>
              <%= l %>
            </label>
            <% } %>
          </div>
          <div class="school-search">
            <h4>Select a school:</h4>
            <select name="school">
              <option selected value="">All schools</option>
              <% for (var school of json.profiles.sort((a, b) => a.name < b.name ? -1 : 1)) { %>
              <option value="<%= school.id %>"><%= school.name %></option>
              <% } %>
            </select>
          </div>
          <div class="district-select">
            <h4>Select district:</h4>
            <select name="district">
              <option selected value="">All districts</option>
              <hr>
              <% for (var d of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) { %>
              <option value="<%= d %>">District <%= d%></option>
              <% } %>
            </select>
          </div>
        </state-binding>
        <detail-block></detail-block>
      </div>
    </main>

    <%= t.include("partials/_footer.html") %>

    <script>
      window.BLOCKS = <%= JSON.stringify(Object.fromEntries(archieml.story.scrolling.map(b => [b.slug, b.filter]))) %>
    </script>
    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
