<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json.project) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <%= t.include("partials/_header.html") %>

    
    <div class="backdrop">
      <div class="map"></div>
    </div>
    <main>

      <% for (var block of archieml.story.scrolling) { %>
      <div class="scroll-block" id="<%= block.slug %>">
        <%= t.renderMarkdown(block.text) %>
      </div>
      <% } %>

      <div class="scroll-block" id="filters">
        <state-binding>
          <% var categories = [
            ["ES", "Elementary"],
            ["MS", "Middle School"],
            ["HS", "High School"]
          ];%>
          <% for (var [v, l] of categories) { %>
          <label>
            <input type="checkbox" checked value="<%= v %>">
            <%= l %>
          </label>
          <% } %>
          <hr>
          <select name="district">
            <option selected value="">All districts</option>
            <hr>
            <% for (var d of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) { %>
            <option value="<%= d %>">District <%= d%></option>
            <% } %>
          </select>
        </state-binding>
        <detail-block></detail-block>
      </div>
    </main>

    <%= t.include("partials/_footer.html") %>

    <script>
      window.BLOCKS = <%= JSON.stringify(Object.fromEntries(archieml.story.scrolling.map(b => [b.slug, b.filter]))) %>
    </script>
    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
